/.DS_Store
/dashboard.xcodeproj/project.xcworkspace/xcuserdata/katerynamusina.xcuserdatad/UserInterfaceState.xcuserstate
/dashboard.xcodeproj/xcuserdata/katerynamusina.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
